.Header {
    width: 100%;
    background: linear-gradient(10deg, var(--background), var(--text));
    color: var(--text-secondary);
    position: relative;
    z-index: 100000000000;
    isolation: isolate;
    border-bottom: 10px solid white;
}

.header-navbar {
    padding-inline: 3rem;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto;
}

.logo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.logo > img {
    object-fit: cover;
    width: 6rem;
    aspect-ratio: 1/1;
    border-radius: 50rem;
    margin-bottom: 0.2rem;
}

.logo > h5 > span {
    color: var(--accent);
}
