.aboutMe-container-content {
  display: grid;
  padding-block: 4rem;
  gap: 2rem;
  padding-inline: 2rem;
}

@media (max-width: 1266px) {
  .aboutMe-container-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-bottom: 5rem;
  }
}
