.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.portfolio-text-container {
    width: 100%;
    padding-block: 10rem;
    margin-bottom: 5rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/AIK.jpg');
}
.Portfolio-text {
    max-width: 40rem;
    text-align: center;
    background-color: var(--background-transparent);
    padding: 2rem;
    padding-block: 6rem;
    border-radius: 0.5rem;
}

.portfolio-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-inline: 2rem;
}

@media (max-width: 1045px) {
    .portfolio-cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}
