.Mobile-nav {
    position: absolute;
    top: 8.2rem;
    right: 0rem;
    left: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--text);
    animation: slideIn 0.3s ease-in forwards;
}

.Mobile-nav > a {
    width: 10rem;
    color: var(--text);
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    padding-block: 0.6rem;
    border-radius: 0.4rem;
    transition: all 0.5s ease;
}

.Mobile-nav > a:hover {
    background-color: var(--background);
    color: var(--primary-color);
    transform: scale(1.1);
}
.Mobile-nav > span {
    width: 100%;
    height: 0.05rem;
    background-color: black;
}

@keyframes slideIn {
    from {
        transform: translate(100%, 0%);
    }
    to {
    }
}

@media (min-width: 941px) {
    .Mobile-nav {
        display: none;
    }
}
