.navbar {
    display: flex;
    gap: 2rem;
}

.navbar > a {
    width: 7rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #ffffff00;
    text-align: center;
    padding-block: 0.5rem;
    border-radius: 0.4rem;
    transition: all 0.5s ease;
}

.navbar > a:hover {
    background-color: var(--background);
    color: var(--primary-color);
}

@media (max-width: 941px) {
    .navbar {
        display: none;
    }
}
