.navbar {
    display: flex;
    gap: 2rem;
}

.navbar > a {
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    background-color: #ffffff00;
    text-align: center;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    border-radius: 0.4rem;
    transition: all 0.5s ease;
}

.navbar > a:hover {
    background-color: var(--background);
    color: var(--primary-color);
}

@media (max-width: 941px) {
    .navbar {
        display: none;
    }
}
